<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Innovación Curricular</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="area_conocimiento">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Area de Conocimiento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aliado">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Aliados
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aspecto_normativo">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Aspecto Normativo
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="car_innovacion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Caracteristicas de Innovacion
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="enfoque">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Enfoque
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="practica_estrategia">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Practica y Estrategia
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="universidad">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Universidad
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programa">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Programa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="facultad">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Facultad
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="departamento">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Departamento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="acreditacion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Acreditación
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registro_calificado">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Registro Calificado
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activ_academica">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Actividad Académica
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pasantia">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Pasantía
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="premio">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Premio
            </NavLink>
        </div>

    </nav>
</div>

